body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: url("imgs/header.jpg") fixed;
    background-size: cover;
}

.container-top {
    max-width: 1160px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top {
    background: rgba(94, 93, 88, 0.60);
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    position: absolute;
}

.logo-letter {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    position: relative;
    left: 13px;
}

.logo-txt {
    margin-left: 32px;
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
}

.logo-txt span {
    color: #18CFAB;
    font-weight: 700;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

.header-menu {
    display: flex;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    gap: 24px;
}

.header-menu a {
    transition: 0.5s;
}

.header-menu a:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
    padding-bottom: 50px;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.header-base {
    text-align: center;
    padding: 264px 0 242px;
}

.header-base h2 {
    color: #FFF;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.header-base span {
    color: #18CFAB;
}

.header-base h1 {
    color: #FFF;
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 22px;
}

.header-base p {
    color: #D4D4D4;
    font-size: 34px;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 22px;
}

.header-btn {
    display: flex;
    justify-content: center;
    gap: 26px;
    margin-top: 130px;
}

.header-btn a {
    background: #00CBF6;
    width: 168px;
    padding: 16px 0;
    border-radius: 3px;
    border-top: 5px solid white;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-container a:first-child {
    background: rgba(24, 207, 171, 1);
}

.icons {
    display: flex;
    margin-top: 7px;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    background: #1C2A33;
    color: #18CFAB;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    width: 25%;
    padding: 97px 0 102px;
}

.icon-item:nth-child(even) {
    background: #18CFAB;
    color: #FFFFFF;
}

.icon-img {
    height: 97px;
}

.services {
    padding: 88px 0 91px;
}

.subtitle {
    color: #4E4E4E;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    position: relative;
}

.subtitle:after {
    content: "";
    width: 91px;
    height: 8px;
    background: url("imgs/lines.png") no-repeat;
    background-size: cover;
    position: absolute;
    left: calc(50% - 45px);
    top: 68px;
}

.services-tabs {
    display: flex;
}

.tab {
    color: #717171;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 39px;
    width: 195px;
    padding: 18px 0;
    border: 1px solid #EDEFEF;
    border-right: none;
    margin-top: 100px;
    background: #F8FCFE;
    transition: 0.5s;
    cursor: pointer;
}

.tab:hover {
    border: 1px solid #18CFAB;
}

.active-tab {
    background: #18CFAB;
    border: 1px solid #18CFAB;
    position: relative;
}

.active-tab:after {
    content: "";
    width: 27px;
    height: 15px;
    background-size: cover;
    position: absolute;
    left: calc(50% - 13px);
    top: 74px;
    background: url("imgs/rectangle 60.png") no-repeat;
}

.tabs-content {
    margin-top: 23px;
}

.content {
    display: none;
}

.content p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.services-img {
    width: 195px;
    min-width: 195px;
    overflow: hidden;
}

.services-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active-content {
    display: flex;
    gap: 15px;
}

.buy {
    background: url("imgs/buy.png");
    background-size: cover;
    padding: 126px 0 140px;
    text-align: center;
}

.buy h2 {
    color: #18CFAB;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
}

.buy p {
    color: #D8D8D8;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    margin: 12px 0 83px;
}

.buy-btn {
    background: #18CFAB;
    padding: 19px 14px;
    border-radius: 3px;
    border-top: 5px solid white;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
}

.amazing {
    padding: 96px 0 106px;
    background: #E9EDEF;
    text-align: center;
}

.amazing-tabs {
    display: flex;
    justify-content: center;
    margin-top: 97px;
}

.am-tab {
    color: #717171;
    font-size: 14px;
    font-weight: 400;
    padding: 20px 16px;
    border: 1px solid #DADADA;
    cursor: pointer;
}

.am-tab:first-child {
    padding: 20px 29px;
}

.active-am-tab {
    color: #18CFAB;
    border: 1px solid #18CFAB;
}

.img-block {
    margin: 75px 0 83px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.am-img {
    width: 25%;
    height: 209px;
    margin-top: -5px;
    display: none;
    position: relative;
}

.open {
    display: block;
}

.am-img img {
    width: 100%;
    height: 100%;
}

.hover {
    width: 10%;
    padding: 40px 0 34px;
    border-top: 6px solid #18CFAB;
    position: absolute;
    visibility: hidden;
}

.hover img {
    width: 88px;
}

.hover h4 {
    color: #18CFAB;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    margin-top: 24px;
}

.hover p {
    color: #8A8A8A;
    font-size: 12px;
    font-weight: 300;
    line-height: 25px;
}

.amazing-btn {
    padding: 22px 22px 22px 53px;
    border-radius: 3px;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
    background: #18CFAB;
    position: relative;
}

.amazing-btn:before {
    content: "";
    width: 18px;
    height: 18px;
    background: url("imgs/plus.png") no-repeat;
    background-size: cover;
    position: absolute;
    right: 130px;
    top: 22px;
}

.news {
    padding: 84px 0 135px;
}

.news-block {
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 54px;
    margin-top: 100px;
}

.news-item {
    max-width: 263px;
    position: relative;
}

.news-date {
    width: 70px;
    height: 68px;
    padding: 13px 0;
    background: #203E38;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    position: absolute;
    right: 0;
    transition: 0.5s;
}

.news-item a:hover .news-date {
    background: #18CFAB;
}

.news-item h4 {
    color: #717171;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 39px;
    margin-top: 3px;
}

.news-item a:hover h4 {
    color: #18CFAB;
}

.news-item p {
    color: #777;
    margin-left: 20px;
    margin-top: 7px;
    font-size: 13px;
    font-weight: 300;
}

.news-item span {
    padding: 0 10px;
}

.people_say {
    background: url("imgs/people_say.png");
    background-size: cover;
    padding: 98px 0;
    text-align: center;
}

.quotes {
    margin-top: 100px;
}

.people_say-content {
    display: none;
}

.active-people_say {
    display: block;
}

.people_say-txt {
    color: #BBB;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 30px;
}

.people_say-name {
    color: #18CFAB;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    margin-top: 20px;
}

.people_say-name span {
    color: #BBB;
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    text-transform: none;
}

.people_say-img {
    border: 12px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin: 35px auto 0;
    transform: scale(0);
    animation: 0.5s ease-out 0s 1 alternate forwards animating-people_say-img;

}

@keyframes animating-people_say-img {
    0% {
        transform: scale(0.3);
    }
    70% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.people_say-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    margin: 55px auto 0;
}

.people_say-tab {
    width: 70px;
    height: 70px;
    border: 6px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    cursor: pointer;
}

.arrow {
    cursor: pointer;
}

.arrow svg:hover rect {
    fill: #18CFAB;
    fill-opacity: 1;
}

.arrow svg:hover path {
    fill: #FFFFFF;
}

footer {
    background: #22353F;
    padding: 48px 0;
    color: #AEAEAE;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
}

footer span {
    color: #18CFAB;
}

